:root {
  --color-dark: #27374D;
  --color-medium: #526D82;
  --color-light: #9DB2BF;
  --color-pale: #DDE6ED;
}

@font-face {
  font-family: 'Dessertfolk';
  src: url('../assets/fonts/Dessertfolk.ttf') format('truetype');
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
}

@media (max-width: 900px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}